{% extends 'index.html' %}
{% load static %}
{% load i18n %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col">
            <div class="row justify-content-center">
                <div class="alert alert-warning p-2 m-2">
                    {{matches.0.matchDateTime|slice:"0:10"}}
                </div>
            </div>

            {% for m in matches %}
                {% include 'partials/match.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}